<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="../semantic/semantic.min.css">
    <link rel="stylesheet" href="../staic/css/me.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="ui inverted attched segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted  secondary stackable menu">
                <a href="./index.html"><h2 class="ui teal header item"> Blog</h2></a>
                <a href="./index.html" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="./types.html" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="./tags.html"  class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="./archives.html" class="m-item item m-mobile-hide active"><i class="clone icon"></i>归档</a>
                <a href="./about.html" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon input">
                        <input type="text" name="" placeholder="Seach...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- 汉堡按钮 -->
        <a href="#" class="menu toggle ui black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>

    <!-- 中间 -->
    <div class="m-container-small m-padded-tb-big">

        <div class="ui container">

            <div class="ui top attached padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        共<h2 class="ui orange header m-inline-block m-text-thin">14</h2>篇博客
                    </div>
                </div>
            </div>

            <h2 class="ui center aligned header">2017</h2>
            <div class="ui fluid vertical menu">

                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>

            </div>

            <h2 class="ui center aligned header">2016</h2>
            <div class="ui fluid vertical menu">

                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>

            </div>

            <h2 class="ui center aligned header">2015</h2>
            <div class="ui fluid vertical menu">

                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于联系的清单
                        <div class="ui teal basic left pointing label">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>

            </div>

        </div>

        
    </div>
    

<br>
<br>

<!--Live-2D看板娘模型-->
<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
<!--Live-2D看板娘模型-->
<script type="text/javascript">
    //Live-2D看板娘模型
    L2Dwidget.init({
        model: {
            //jsonpath控制显示那个小萝莉模型，下面这个就是我觉得最可爱的小萝莉模型 //hijiki  //izumi //shizuku //koharu
            jsonPath: "https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json", //这里改模型，前面后面都要改
            scale: 1,
        },
        display: {
            position: "left", //设置看板娘的上下左右位置
            width: 120,  //小萝莉的宽度
            height: 200, //小萝莉的高度
            hOffset: -40,  //水平偏移
            vOffset: 0  //垂直偏移
        },
        mobile: {
            show: false,  //在移动端不显示
            scale: 0.4    //移动设备上的缩放
        },
        react: {
            opacityDefault: 0.9, //设置透明度
            opacityOnHover: 0.2
        },
    });
</script>


    <!-- 底部 -->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">

                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../staic/images/code.jpg" class="ui rounded image" alt="" style="width: 110px;">
                        </div> 
                    </div>
                </div>

                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced m-text-lined">最新博客</h4>
                    <div class="ui inverted link list m-opacity-mini m-text-spaced m-text-lined">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>

                <div class="four wide column">
                    <h4 class="ui inverted header m-text-spaced m-text-lined">联系我</h4>
                    <div class="ui inverted link list m-opacity-mini m-text-spaced m-text-lined">
                        <a href="#" class="item">Email: 1026085301@qq.com</a>
                        <a href="#" class="item">QQ: 1026085301</a>
                    </div>
                </div>

                <div class="six wide column">
                    <h4 class="ui inverted header m-text-spaced m-text-lined">Tina</h4>
                    <p class="m-opacity-mini m-text-spaced m-text-lined">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>


            
        </div>

    </footer>
    
<script src="../semantic/jquery.min.js"></script>
<script src="../semantic/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function(){
        $('.m-item ').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>